/* #region Variables */
/* Header and Footer */
:root {
  --header-height: 5em;
  --footer-height: 5em;
  --footer-link-color: #0078a8;
  --footer-link-hover-color: #0038a8;

  /* Color Variables */
  --color-header-gradient-start: #d60270;
  --color-header-gradient-middle: #9b4f96;
  --color-header-gradient-end: #0038a8;
  --color-hover-bg: #d9b68c;
  --color-menu-bg: rgba(74, 0, 78, 0.519);
  --color-background: #f8f9fa;
  --color-light-bg: #ffffff;
  --color-primary-text: #333333;
  --color-secondary-text: #555555;
  --color-text: #ffffff;

  /* Font Variables */
  --font-size-default: 16px;
  --font-size-large: 1.8em;
  --font-family-default: "Arial", sans-serif;

  /* Layout Variables */
  --main-bg: #f0f0f0;
  --main-padding: 1rem;
  --menu-slide-duration: 0.5s;
  --transition-duration: 0.3s;

  /* Button Variables */
  --homepage-btn-border: #d9b68c;
  --homepage-btn-bg: rgba(0, 0, 0, 0.75);
  --homepage-btn-hover-bg: #bfaf8d;

  /* Shadow and Gradient Variables */
  --box-shadow-default: 0 4px 6px rgba(0, 0, 0, 0.1);
  --gradient-text-start: white;
  --gradient-text-end: #004e0e;
}

/* #endregion */

/*#region Reset & basics*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  background-color: var(--color-background);
  line-height: 1.6;
  color: var(--color-primary-text);
}

button {
  font-family: var(--font-family-default);
  border-radius: 5px;
  transition: background-color var(--transition-duration),
    transform var(--transition-duration);
}
/*#endregion*/

/*#region Header*/
header {
  background: linear-gradient(
    90deg,
    var(--color-header-gradient-start),
    var(--color-header-gradient-middle),
    var(--color-header-gradient-end)
  );
  height: var(--header-height);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow-default);
  z-index: 100;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.project-name {
  font-size: 2em;
  font-weight: bolder;
  color: var(--color-text);
  text-decoration: none;
  transition: color var(--transition-duration),
    text-shadow var(--transition-duration);
}

.project-name:hover {
  color: var(--color-header-gradient-middle);
  text-shadow: 0 0 10px var(--color-header-gradient-middle);
}
/*#endregion*/

/*#region Menu*/
.burger-menu {
  background: none;
  border: none;
  color: var(--color-text);
  font-size: 1.8em;
  cursor: pointer;
  display: block;
  padding: 0;
  z-index: 110;
}

.div-menu {
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: var(--box-shadow-default);
  padding: 0;
  margin-top: 0;
  height: auto;
}

.div-menu li {
  margin: 0;
  padding: 1em;
  z-index: 1;
}

.div-menu a {
  width: 100%;
  padding: 8px 0;
  text-align: center;
  color: var(--color-text);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color var(--transition-duration);
  display: block;
}

.div-menu a:hover {
  background-color: var(--color-hover-bg);
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--color-menu-bg);
  position: absolute;
  top: -50vh;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  transition: top var(--menu-slide-duration) ease-in-out;
}

.menu.active {
  display: flex;
  top: 4em;
}
/*#endregion*/

/*#region Main*/
main {
  margin-top: calc(var(--header-height) + var(--main-padding));
  margin-bottom: calc(var(--footer-height) + var(--main-padding));
  background-image: url(images/background-code.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: var(--box-shadow-default);
  min-height: calc(100vh - var(--header-height));
  margin-bottom: calc(var(--footer-height));
  padding-bottom: 2em;
}
/*#endregion*/

/*#region Footer*/
footer {
  background: #000000;
  height: var(--footer-height);
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

footer a {
  color: var(--footer-link-color);
  text-decoration: none;
  transition: color var(--transition-duration);
}

footer a:hover {
  color: var(--footer-link-hover-color);
}
/*#endregion*/

/*#region Homepage */
.homepage {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url("images/background.jpg") no-repeat center center/cover;
  margin: 0;
  margin-top: -5em;
  padding: 0;
  overflow: hidden;
}

.homepageBtn {
  border: 2px solid var(--homepage-btn-border);
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  text-decoration: none;
  color: var(--color-text);
  background: var(--homepage-btn-bg);
  transition: background-color var(--transition-duration),
    transform var(--transition-duration);
}

.homepageBtn:hover {
  background-color: var(--homepage-btn-hover-bg);
  transform: translateY(-2px) scale(1.05);
}

.text {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: auto;
  font-size: 2em;
  width: 65%;
  border-radius: 15px;
  padding: 20px;
  box-shadow: var(--box-shadow-default);
  background: rgba(0, 0, 0, 0.283);
}

.text h1 {
  font-size: 2.2em;
  background-image: linear-gradient(
    to right,
    var(--color-header-gradient-start),
    var(--color-header-gradient-middle),
    var(--color-header-gradient-end)
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.text p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-top: 20px;
}
/*#endregion*/

/*#region About Section */
#about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  color: white;
  padding: 40px;
  margin: 20px auto;
  width: 70%;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#about img {
  width: 400px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about h1,
#about h2 {
  color: black;
  margin: 10px 0;
  font-family: "Arial", sans-serif;
}

#about h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to right, #9b4f96, #0038a8);
  background-clip: text;
  color: transparent;
}

#about h2 {
  font-size: 1.8em;
  font-weight: 600;
  color: #555555;
  margin-bottom: 20px;
}

#about p {
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
  hyphens: auto;
}

#about a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(to right, #9e04f0, #02ecfd);
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  margin: auto;
  transition: background 0.3s ease, transform 0.2s ease;
  display: inline-block;
  text-align: center;
}

#about a:hover {
  background: linear-gradient(to right, #02ecfd, #9e04f0);
  transform: scale(1.03);
}

#about a:active {
  transform: scale(0.98);
}
/*#endregion*/

/*#region School Section */
#school {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  color: white;
  padding: 40px;
  margin: 20px auto;
  width: 70%;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#school img {
  width: 400px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#school h1,
#school h2 {
  color: black;
  margin: 10px 0;
  font-family: "Arial", sans-serif;
}

#school h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to right, #9b4f96, #d60270);
  background-clip: text;
  color: transparent;
}

#school h2 {
  font-size: 1.8em;
  font-weight: 600;
  color: #555555;
  margin-bottom: 20px;
}

#school p {
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
  hyphens: auto;
}

#school a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(to right, #9e04f0, #02ecfd);
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  margin: auto;
  transition: background 0.3s ease, transform 0.2s ease;
  display: inline-block;
  text-align: center;
}

#school a:hover {
  background: linear-gradient(to right, #02ecfd, #9e04f0);
  transform: scale(1.03);
}

#school a:active {
  transform: scale(0.98);
}
/*#endregion*/

/* #region Private Section */
#private {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-light-bg);
  color: var(--color-primary-text);
  padding: 40px;
  margin: 20px auto;
  width: 70%;
  text-align: center;
  border-radius: 20px;
  box-shadow: var(--box-shadow-default);
}

#private h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    var(--color-header-gradient-start),
    var(--color-header-gradient-middle),
    var(--color-header-gradient-end)
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

#private p {
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
  hyphens: auto;
}

#private a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(to right, #9e04f0, #02ecfd);
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  margin: auto;
  transition: background 0.3s ease, transform 0.2s ease;
  display: inline-block;
  text-align: center;
}

#private a:hover {
  background: linear-gradient(to right, #02ecfd, #9e04f0);
  transform: scale(1.03);
}

#private a:active {
  transform: scale(0.98);
}
/* #endregion */

/* #region interstellar Section */
#interstellar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white; /* Adjust the background color as needed */
  color: white;
  padding: 40px;
  margin: 20px auto;
  width: 70%;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#interstellar img {
  width: 400px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#interstellar h1,
#interstellar h2 {
  color: black;
  margin: 10px 0;
  font-family: "Arial", sans-serif;
}

#interstellar h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to right, #9b4f96, #0038a8);
  background-clip: text;
  color: transparent;
}

#interstellar h2 {
  font-size: 1.8em;
  font-weight: 600;
  color: #555555;
  margin-bottom: 20px;
}

#interstellar p {
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
  hyphens: auto;
}

#interstellar a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(to right, #9e04f0, #02ecfd);
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  margin: auto;
  transition: background 0.3s ease, transform 0.2s ease;
  display: inline-block;
  text-align: center;
}

#interstellar a:hover {
  background: linear-gradient(to right, #02ecfd, #9e04f0);
  transform: scale(1.03);
}

#interstellar a:active {
  transform: scale(0.98);
}
/* #endregion */

/* #region impressum Section */
/* Dark Mode Styling for the Entire Impressum Section */
#impressum {
  font-family: Arial, sans-serif;
  color: #f4f4f4; /* Light text on dark background */
  background-color: #2c2c2c; /* Dark background */
  padding: 30px;
  border-radius: 8px;
  width: 100vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-top: 5px solid #007acc; /* Clean top border */
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 12em;
  text-align: center;
}

#impressum h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to right, #9b4f96, #0038a8);
  background-clip: text;
  color: transparent;
}

#impressum p {
  margin: 12px 0;
  font-size: 16px;
}

#impressum p strong {
  font-weight: bold;
}

#impressum a {
  color: #007acc;
  text-decoration: none;
}

#impressum a:hover {
  text-decoration: underline;
}

#impressum ul {
  margin-top: 10px;
  padding-left: 20px;
  list-style: none;
}

#impressum ul li {
  margin: 8px 0;
  font-size: 16px;
}

#impressum ul li span {
  font-weight: bold;
}

#impressum:hover {
  background-color: #333; /* Slightly darker background on hover */
}
/* #endregion */

/* #region Responsive Styles */
@media (max-width: 1200px) {
  .homepageBtn {
    top: 0;
    padding-top: 0;
    margin-top: 0;
    padding: 15px;
  }

  .text {
    font-size: 1.6em;
    width: 80%;
  }

  #about,
  #interstellar,
  #school {
    width: 80%;
  }

  #about img,
  #school img,
  #interstellar img {
    width: 250px;
  }
}

@media (max-width: 768px) {
  /* Header */
  header {
    padding: 10px 15px;
    height: auto;
  }

  .burger-menu {
    font-size: 1.5em;
  }

  .project-name {
    font-size: 1.5em;
  }

  /* Main Content */
  .text {
    font-size: 1.4em;
    width: 90%;
  }

  #about,
  #interstellar,
  #school {
    width: 90%;
  }

  #about img,
  #school img,
  #interstellar img {
    width: 200px;
  }

  .homepageBtn {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  /* Header */
  header {
    padding: 10px;
    height: auto;
  }

  .burger-menu {
    font-size: 1.4em;
  }

  .project-name {
    font-size: 1.2em;
  }

  /* Main Content */
  .text {
    font-size: 1.2em;
    width: 95%;
  }

  #about,
  #interstellar,
  #school {
    width: 95%;
    padding: 20px;
  }

  #about img,
  #school img,
  #interstellar img {
    width: 180px;
  }

  /* Homepage */
  .homepage {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  #impressum {
    padding: 20px;
  }

  #impressum h2 {
    font-size: 22px;
  }

  #impressum p {
    font-size: 14px;
  }
}
/* #region Responsive Private Section */
@media (max-width: 1200px) {
  #private {
    width: 80%;
    padding: 30px;
  }
}

@media (max-width: 768px) {
  #private {
    width: 90%;
    padding: 20px;
  }

  #private h1 {
    font-size: 2em;
  }

  #private p {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  #private {
    width: 95%;
    padding: 15px;
  }

  #private h1 {
    font-size: 1.8em;
  }

  #private p {
    font-size: 0.9em;
  }
}
/* #endregion */

/* #endregion */

/* #region temporary coming soon */
.coming-soon {
  width: 100vw;
  height: auto;
}
/* #endregion */
