/* Browser Reset */
* {
    transition: 0.2s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    background: url('pictures/heartOnFire.jpg') center/cover repeat fixed;
    color: #3d3939; /* Dark red text color */
    font-family: 'Times New Roman', serif; /* Romantic font */
}

.time {
    background: red;
    margin: auto;
    padding: 1em;
    width: 80%;
    border-radius: 20px;
}

.black {
    background: rgb(0, 0, 0, 0.9);
    margin: auto;
    padding: 1em;
    width: 100%;
    border-radius: 20px;
}

/* Container styling */
.container {
    max-width: 90%;
    height: 90%;
    margin: auto;
    padding: 20px;
}

/* Header styling */
h1 {
    color: #ff0055; /* Romantic red color for header */
}

/* Slideshow container styling */
.slideshow-container {
    width: auto;
    margin: auto;
    padding: 3em;
    text-align: center;
    background-color: #ff666649; /* Red background for slideshow container */
    border-radius: 20px; /* More rounded corners */
    box-shadow: 0 0 20px rgba(255, 0, 85, 0.5); /* Softer shadow */
}

/* Slides styling */
.mySlides {
    display: none;
    margin: auto;
    border-radius: 20px; /* More rounded corners for images */
}

/* Navigation buttons styling */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(61, 57, 57, 0.6); /* Semi-transparent dark red background */
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, change background color of buttons */
.prev:hover,
.next:hover {
    background-color: rgba(61, 57, 57, 0.8);
}

/* Image styling */
img {
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 20px; /* More rounded corners for images */
}

/* Poem styling */
.poem {
    background-color: #ff4d4d; /* Romantic red background for poem */
    padding: 1em;
    border-radius: 20px; /* More rounded corners for poem container */
    margin: auto;
    margin-bottom: 5em;
    width: 75%;
}

p {
    text-align: center;
    font-size: 1.2em; /* Slightly larger font for better readability */
    color: #3d3939; /* Dark red text color */
    font-style: italic;
}

/* Clock container styling */
.clock-container {
    text-align: center;
    color: #3d3939;
    margin-top: 20px;
}

/* Clock styling */
.clock {
    margin: auto;
    display: block;
    width: fit-content;
    font-size: 36px;
    color: #ff0055;
    padding: 10px;
    border-radius: 20px; /* More rounded corners for clock container */
}

/* Additional information styling */
.info {
    margin: auto;
    display: block;
    width: fit-content;
    font-size: 28px;
    color: rgb(255, 0, 20); /* Semi-transparent romantic red color */
    border-radius: 20px; /* More rounded corners for info container */
}

/* LoveH2 styling */
#loveH2 {
    background-color: rgba(255, 0, 0, 0.685); /* Romantic red background for LoveH2 */
    color: gold;
    margin: auto;
    padding: 8px;
    display: block;
    width: fit-content;
    font-size: 46px;
    border-radius: 20px; /* More rounded corners for LoveH2 container */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Change the background color as needed */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure the navbar stays on top of other elements */
}

/* Style for the navbar links */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px; /* Adjust spacing between links */
}

.navbar a {
    text-decoration: none;
    color: white; /* Change the link color as needed */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #FFD700; /* Change the hover color as needed */
}

iframe {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0055; /* Romantic red background color */
    color: white; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button a {
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: #cc0040; /* Darker red background color on hover */
}

.whiteText,
.whiteTitle {
    text-align: center;
    color: white;
}

h1.whiteTitle {
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
}

p.whiteText {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

.indexButton {
    display: flex;
    justify-content: center;
    padding: 2em;
    margin: 2em;
}

/* Additional styles for the form */
.series-form {
        margin-top: 20px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9); /* Transparent black background */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 0, 85, 0.5); /* Softer shadow */
}

.series-form h2 {
    color: #ff0055; /* Romantic red color for header */
    text-align: center;
    margin-bottom: 20px;
}

.series-form label {
    display: block;
    margin-bottom: 10px;
    color: white; /* White text color */
}

.series-form input[type="text"],
.series-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
}

.series-form select {
    appearance: none; /* Remove default select styles */
}

.series-form input[type="submit"] {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #ff0055; /* Romantic red background color */
    color: white; /* White text color */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.series-form input[type="submit"]:hover {
    background-color: #cc0040; /* Darker red background color on hover */
}

/* Watchlist container */
.series-table-container {
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9); /* Transparent black background */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 0, 85, 0.5); /* Softer shadow */
    max-width: 600px;
    box-sizing: border-box; /* Prevent adding extra margins due to padding */
}

/* Watchlist title */
.series-table-container h1 {
    color: #ff0055; /* Romantic red color for header */
    text-align: center;
    margin-bottom: 20px;
}

/* Watchlist table */
#watchlist-table {
    width: 100%;
    border-collapse: collapse; /* Remove default table spacing */
}

/* Watchlist table header */
#watchlist-table th {
    background-color: #ff0055; /* Romantic red background for table header */
    color: white; /* White text color */
    padding: 10px; /* Padding for table header cells */
}

/* Watchlist table row */
#watchlist-table td {
    padding: 10px; /* Padding for table cells */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* White border bottom for rows */
    color: white; /* White text color */
}

/* Alternate row background color */
#watchlist-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background for even rows */
}

/* Link styling within table */
#watchlist-table a {
    color: #007bff; /* Blue link color */
    text-decoration: none;
}

/* Hover effect on links */
#watchlist-table a:hover {
    text-decoration: underline;
}

.Disclaimer{
    color: white;
    height: 1em;
    padding: 0 0 3em 0;
}

/* Media query for larger screens (PCs) */
@media only screen and (min-width: 768px) {
    .slideshow-container {
        padding: 2em; /* Slightly reduced padding for larger screens */
    }
}

@media only screen and (max-width: 767px) {
    iframe {
        width: 80%;
    }

    img {
        margin: auto;
        height: auto;
        max-width: 100%;
    }

    article {
        max-height: 700px;
        min-height: 700px;
        margin: auto;
    }

    main {
        height: auto;
        margin: auto;
    }
}
