/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    hyphens: auto;
}

/* Header styles */
header {
    background: linear-gradient(to right, #D60270, #0038A8);
    padding: 15px 0;
    height: 5em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgb(61, 61, 61);
}

/* Body styles */
body {
    margin-top: 8em;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden; /* Hide horizontal overflow */
    background-color: #f5f5f5;
    color: #333;
}

/* Dark mode styles */
.dark-mode {
    background-color: #111;
    color: #fff;
}

/* Content styles */
.content-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.content {
    text-align: justify;
}

.setupimg {
    max-width: 100%;
    height: auto;
}

/* Column styles */
.column {

}

.column img {
  
}

.column p {
  
}

/* Footer styles */
.footer-container {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
}

.footer-section {
    margin: 5px;
}

.submit-button2 {
    background-color: #ffa500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Contact form styles */
.contact {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    background-color: #333;
    padding: 15px;
    border-radius: 2em;
}

label,
input {
    border-radius: 1em;
    color: white;
    background-color: #ffa500;
    margin: 10px;
}

input {
    padding: 1em;
    width: 100%;
    color: white;
}

.submit-button {
    background-color: #ffa500;
    color: white;
    border-radius: 2em;
    margin: 2em;
    padding: 10px 2em;
}

.submit-button:hover {
    background-color: #ff5100;
}

#pictureContainer {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Optional: Adjust the gap between grid items */
    margin: 20px auto; /* Center horizontally with margin */
}

.picture {
    width: 100%; /* Ensure pictures take full width */
    height: auto;
    margin: auto;
    padding: 2em;
    box-sizing: border-box;
}

.picture img {
    width: 100%;
    height: auto;
    display: block;
}

/* Header menu styles */
.div-menu {
    z-index: 1;
    background-color: #211c1c;
    width: 100%;
    position: fixed;
    top: 10px;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 0;
    height: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 10px auto;
    flex-direction: row;
    padding: 0 20px;
    z-index: 10;
}

.div-menu li {
    margin: 1;
    z-index: 1;
    padding: 1em;
}

.div-menu a {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    justify-content: center;
    z-index: 1;
}

.div-menu a:hover {
    background-color: #34495e;
}

.project-name {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 11;
    left: 1em;
}

.burger-menu {
    position: absolute;
    right: 1em;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
    display: block;
    padding: 0;
    z-index: 12;
}

.right-logo {
    position: absolute;
    right: 5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.right-toggle {
    position: absolute;
    right: 9em;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #211c1c;
    position: absolute;
    top: -50vh;
    left: 0;
    width: 100%;
    z-index: 5;
    padding: 0;
    padding-top: 1em;
    margin: 0;
    list-style: none;
    justify-content: center;
    text-align: center;
    animation: top 1s ease-in-out;
}

.menu.active {
    display: flex;
    top: 3.5em;
    z-index: 5;
}

.menu-logo {
    height: 50px;
    border-radius: 2em;
}

/* Dark Mode Toggle Button Styles */
#darkModeToggle {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 20px;
}

/* Responsive styles */
@media (max-width: 999px) {
    #pictureContainer {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        gap: 20px; /* Optional: Adjust the gap between grid items */
        margin: 20px auto; /* Center horizontally with margin */
    }

    .content-container {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .burger-menu {
        position: absolute;
        right: 1em;
    }

    .right-logo {
        position: absolute;
        right: 3.5em;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .right-toggle {
        position: absolute;
        right: 6em;
    }

    .column {
       
    }

    .setupimg {
        
    }
}
