* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#box01 {
    background-color: blue;
    flex: 1;
}

#box02 {
    background-color: red;
    flex: 2;
}

#box03 {
    background-color: yellow;
    flex: 1;
}

#box04 {
    background-color: green;
    flex: 1;
}

div {
    height: 200px;
    text-align: center;
    width: 15%;
}

section {
    height: 400px;
    background-color: black;
    display: flex;
    /* Die nächsten beiden Zeilen zentrieren die Boxen vertikal. */
    align-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* justify-content beeinflusst die Darstellung horizontal. */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */

}