@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
* {
    font-family: 'Merriweather Sans', sans-serif;
        box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
        transition: 0.5s;
    }
    
    header {
        background-image: url(img/fulls/02.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 30%;
        position: fixed;
        text-align: right;
        top: 0;
        color: white;
        padding: 5%;
    }
    
    header img {
        border-radius: 100%;
    }
    
    span {
        font-weight: bold;
    }
    
    main {
        margin-left: 30%;
        padding: 2em;
    }
    
    .learnMore {
        display: inline-block;
        height: 3em;
        width: 8em;
        border: solid 1px grey;
        border-radius: 0.5em;
        line-height: 2.75;
        text-align: center;
        text-decoration: none;
        margin-top: 2em;
    }
    
    section {
        margin-bottom: 3em;
    }
    
    .learnMore:hover {
        background-color: lightgray;
    }
    
    article {
        width: 45%;
        float: left;
        margin-right: 2em;
    }
    
    article img {
        width: 100%;
        border-radius: 0.5em;
    }
    
    .view {
        position: relative;
        top: 9em;
        left: 9em;
    }
    
    img:hover {
        background-color: aqua;
    }