* {
    transition: 0.5s;
    hyphens: auto;
}

body {
    height: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    background-image: url(img/KSS.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

article {
    border-radius: 2em;
    min-height: 80%;
    max-height: 90%;
    background-color: lightgray;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2em;
    max-width: 600px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    color: black;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

nav {
    margin-top: 20px;
}

.folder-list {
    list-style-type: none;
    padding: 0;
}

.folder-list-item {
    margin-bottom: 10px;
}

.folder-link {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    display: block;
    padding: 5px;
}

.folder-link:hover {
    color: violet;
}

li a {
    text-align: center;
}
@media screen and (max-width: 960px) {
    nav a {
        display: block;
        width: 98.1%;
    }

    nav {
        height: auto;
    }

    main {
        width: 100%;
    }

    .container {
        background-color: none;
        color: none;
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: none;
    }

    article {
        background-color: none;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
