@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
}
body {
    font-family: 'Merriweather Sans', sans-serif;
    width: auto;
    background-image: url(img/hd.jpg);
}

main {
    width: 80%;
        margin: auto;
        margin-top: 2em;
    background-color: white;
    padding-top: 0;
        padding-right: 2em;
        padding-left: 2em;
        padding-bottom: 2em;
        border-radius: 20px;
        box-shadow: 0 0 50px white;
    }
    
    p {
        margin-top: 2em;
}

img {
    width: 20%;
    padding: 1em;
}
span {
    color: red;
    font-weight: bold;
}

i {
    color: black;
}

ul {
    text-decoration: none;
}

ul li {
    padding-left: 30px;
    text-decoration: none;
    }
    
    article {
        background-color: rgba(128, 128, 128, 0.247);
        padding: 15px;
        border-radius: 5px;
}

footer {
    padding-bottom: 2em;
    padding-top: 2em;
        color: black;
}